<br>
<Navbar>
    <a href="/user/signin">SignIn</a>
    <a href="/user/signup">SignUp</a>
</Navbar>
<br>
<br>

<Home>
    <p>Welcome To Home Page</p>
    <a href="/contact">Go to Contact-Manager</a>

</Home>
<br>
<br>
<Footer>
    Footer
</Footer>
<br>