<h1>Create An Account</h1>
<form action="/user/create" method="post">
    <input type="name" placeholder="Enter Name" name="name">
    <input type="email" placeholder="Enter Email" name="email">
    <input type="password" placeholder="Enter password" name="password">
    <button type="submit">Signup</button>
</form>